<h1>Alerts</h1>

<h2>CSS Alerts</h2>

<app-demo type="css" file="alert/alert.component.html" line="6">
  <div class="alert alert-success" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">Something was successful</span>
        </div>
    </div>
  </div>
</app-demo>

<app-demo type="core" file="alert/alert.component.html" line="18">
<cds-alert-group status="success">
  <cds-alert>Something was successful</cds-alert>
</cds-alert-group>
</app-demo>

<h2>Angular Alerts</h2>

<app-demo type="angular" file="alert/alert.component.html" line="26">
  <clr-alert [clrAlertType]="'warning'" *ngIf="warning1" (clrAlertClosedChange)="warning1 = false">
    <clr-alert-item>
        <span class="alert-text">Try closing this alert.</span>
    </clr-alert-item>
  </clr-alert>
</app-demo>

<app-demo type="core" file="alert/alert.component.html" line="35">
  <cds-alert-group status="warning" *ngIf="warning2">
    <cds-alert closable="true" (closeChange)="warning2 = false">Try closing this alert</cds-alert>
  </cds-alert-group>
  </app-demo>