<h1>Buttons</h1>

<h2>CSS Buttons</h2>

<h3>Outline Buttons</h3>

<app-demo type="css" file="button/button.component.html" line="6">
  <button class="btn btn-outline">Regular</button>
  <button class="btn btn-success-outline">Success-Outline</button>
  <button class="btn btn-info-outline">Info</button>
  <button class="btn btn-warning-outline">Warning</button>
  <button class="btn btn-danger-outline">Danger</button>
  <button class="btn btn-outline" disabled>Disabled</button>
</app-demo>

<app-demo type="core" file="button/button.component.html" line="15">
  <cds-button action="outline" cds-layout="m-r:md">Regular</cds-button>
  <cds-button action="outline" status="sucess" cds-layout="m-r:md">Success</cds-button>
  <cds-button action="outline" status="info" cds-layout="m-r:md">Info</cds-button>
  <cds-button action="outline" status="warning" cds-layout="m-r:md">Warning</cds-button>
  <cds-button action="outline" status="danger" cds-layout="m-r:md">Danger</cds-button>
  <cds-button action="outline" disabled cds-layout="m-r:md">Disabled</cds-button>
</app-demo>
